.main{
    background: linear-gradient(135deg, #ff7e5f, #feb47b, #ff6a6a, #ffd700, #00bfff, #1e90ff);
    background-size: 400% 400%;
    animation: gradientAnimation 35s ease infinite;
    height: 100vh;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.formBox {
  width: 100%;
  max-width: 1275px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cardBox{
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 5%;
}

.ticketCard {
  background-color: rgba(255, 255, 255, 0.625);
  border-radius: 8px;
  padding: 3% 25% 10% 25%;
  margin-bottom: 20px;
  text-align: center;
}

.ticketCard h2{
  font-size: 2rem;
}

.ticketCard h3{
  font-size: 3rem;
}

.campingAreabox{
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 5%;
}

.campingAreaBtn{
  background-color: rgba(255, 255, 255, 0.625);
  border-radius: 8px;
  width: 200px;
  padding: 1%;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

.campingAreaBtn:hover{
  cursor: pointer;
}

.selected {
  background-color: #ff69b4;
}

.unavailable.unavailable:parent {
  background-color: whitesmoke;
}

.spotsLeft {
  margin-top: 10%;
  font-size: 1rem;
  color: #ff0000;
  margin: 0;
  padding: 0;
}

.nextBtn {
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  margin-top: 20px;
}

.ticketCounter {
  font-size: 1rem;
}