.formBox {
  width: 100%;
  max-width: 1275px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cardBox{
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 5%;
}

.ticketCard {
  background-color: rgb(221, 221, 221);
  border-radius: 8px;
  padding: 15%;
  margin-bottom: 20px;
  text-align: center;
}

.nextBtn {
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  margin-top: 20px;
}

.ticketCounter {
  font-size: 1rem;
}