.contentBox {
  max-width: 1275px;
display: flex;
flex-direction: column;
margin: 0 auto;
font-family: "Yesteryear", cursive;
  font-weight: 400;
  font-style: normal;
}

.contentBox h1{
  text-align: center;
  margin-bottom: 3%;
}

.orderBox {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 2% 5%;
  margin: 4% 20%;
}

.orderBox h2 {
  text-align: center;
  margin: 0 0 5% 0;
}

.orderBox .orderDetails {
  display: flex;
  flex-direction: column;
  position: relative;
}

.orderBox .orderDetails::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #ccc;
  transform: translateX(-50%);
}

.orderBox .orderItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.orderBox .orderItem span {
  flex: 1;
  padding: 0 10px;
}

.orderBox .orderItem span.text {
  text-align: left;
}

.orderBox .orderItem span.value {
  text-align: right;
}

.orderBox p {
  margin: 5px 0;
}

.formBoxBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formBox {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}

.informationCard {
  border: 1px solid #ccc;
  padding: 5%;
  padding-top: 2%;
  border-radius: 8px;
  background-color: #d6e1eb;

}

.informationCard h2 {
  text-align: center;
}

.input {
  width: 96%;
  margin-top: 8px;
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.checkoutBtn {
  padding: 2% 4%; 
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  margin: 8% 0;
}

.checkoutBtn:hover {
  background-color: #005bb5;
}
